In [111]:
import pandas as pd
import numpy as np

In [112]:
data = pd.read_csv("Pune house data.csv")
data.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,site_location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road

In [113]:
data.shape

(13320, 9)

In [114]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   area_type      13320 non-null  object
 1   availability   13320 non-null  object
 2   size           13304 non-null  object
 3   society        7818 non-null   object
 4   total_sqft     13320 non-null  object
 5   bath           13247 non-null  float64
 6   balcony        12711 non-null  float64
 7   price          13320 non-null  float64
 8   site_location  13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [115]:
for column in data.columns:
    print(data[column].value_counts())
    print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: availability, Length: 81, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: society, Length: 2688, dtype: int64
********************
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: price, Length: 1994, dtype: int64
********************
Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64
********************

In [116]:
data.isna().sum()

area_type           0
availability        0
size               16
society          5502
total_sqft          0
bath               73
balcony           609
price               0
site_location       1
dtype: int64

In [117]:
data.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [118]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [119]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13304 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13247 non-null  float64
 3   price          13320 non-null  float64
 4   site_location  13319 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [120]:
data['site_location'].value_counts()

Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

In [121]:
data['site_location'].unique()

array(['Alandi Road', 'Ambegaon Budruk', 'Anandnagar', 'Aundh',
       'Aundh Road', 'Balaji Nagar', 'Baner', 'Baner road',
       'Bhandarkar Road', 'Bhavani Peth', 'Bibvewadi', 'Bopodi',
       'Budhwar Peth', 'Bund Garden Road', 'Camp', 'Chandan Nagar',
       'Dapodi', 'Deccan Gymkhana', 'Dehu Road', 'Dhankawadi',
       'Dhayari Phata', 'Dhole Patil Road', 'Erandwane', 'Fatima Nagar',
       'Fergusson College Road', 'Ganesh Peth', 'Ganeshkhind',
       'Ghorpade Peth', 'other', 'Gokhale Nagar', 'Gultekdi',
       'Guruwar peth', 'Hadapsar', 'Hadapsar Industrial Estate',
       'Hingne Khurd', 'Jangali Maharaj Road', 'Kalyani Nagar',
       'Karve Nagar', 'Karve Road', 'Kasba Peth', 'Katraj', 'Khadaki',
       'Khadki', 'Kharadi', 'Kondhwa', 'Kondhwa Budruk', 'Kondhwa Khurd',
       'Koregaon Park', 'Kothrud', 'Law College Road', 'Laxmi Road',
       'Lulla Nagar', 'Mahatma Gandhi Road', 'Mangalwar peth',
       'Manik Bagh', 'Market yard', 'Model colony', 'Mukund Nagar',
       'Mundhawa', 'Nagar Road', 'Nana Peth', 'Narayan Peth',
       'Narayangaon', 'Navi Peth', 'Padmavati', 'Parvati Darshan',
       'Pashan', 'Paud Road', 'Pirangut', 'Prabhat Road',
       'Pune Railway Station', 'Rasta Peth', 'Raviwar Peth',
       'Sadashiv Peth', 'Sahakar Nagar', 'Salunke Vihar', 'Sasson Road',
       'Satara Road', 'Senapati Bapat Road', 'Shaniwar Peth',
       'Shivaji Nagar', 'Shukrawar Peth', 'Sinhagad Road', 'Somwar Peth',
       'Swargate', 'Tilak Road', 'Uruli Devachi', 'Vadgaon Budruk',
       'Wadgaon Sheri', 'Viman Nagar', 'Vishrant Wadi', 'Wagholi',
       'Wakadewadi', 'Wanowrie', 'Warje', 'Yerawada', 'Ghorpadi', nan],
      dtype=object)

In [122]:
data['site_location'] = data['site_location'].fillna("Hadapsar")

In [123]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13304 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13247 non-null  float64
 3   price          13320 non-null  float64
 4   site_location  13320 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [124]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

In [125]:
data['size'] = data['size'].fillna('2 BHK')

In [126]:
data['bath'] = data['bath'].fillna(data['bath'].median())

In [127]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   size           13320 non-null  object
 1   total_sqft     13320 non-null  object
 2   bath           13320 non-null  float64
 3   price          13320 non-null  float64
 4   site_location  13320 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [128]:
data['bhk'] = data['size'].str.split().str.get(0).astype(int)

In [129]:
data

            size total_sqft  bath   price         site_location  bhk
0          2 BHK       1056   2.0   39.07           Alandi Road    2
1      4 Bedroom       2600   5.0  120.00       Ambegaon Budruk    4
2          3 BHK       1440   2.0   62.00            Anandnagar    3
3          3 BHK       1521   3.0   95.00                 Aundh    3
4          2 BHK       1200   2.0   51.00            Aundh Road    2
...          ...        ...   ...     ...                   ...  ...
13315  5 Bedroom       3453   4.0  231.00                Pashan    5
13316      4 BHK       3600   5.0  400.00             Paud Road    4
13317      2 BHK       1141   2.0   60.00              Pirangut    2
13318      4 BHK       4689   4.0  488.00          Prabhat Road    4
13319      1 BHK        550   1.0   17.00  Pune Railway Station    1

[13320 rows x 6 columns]

In [130]:
data[data.bhk > 20]

            size total_sqft  bath  price  site_location  bhk
1718      27 BHK       8000  27.0  230.0  Uruli Devachi   27
4684  43 Bedroom       2400  40.0  660.0  Salunke Vihar   43

In [131]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [132]:
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return(float(temp[0]) + float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [133]:
data['total_sqft'] = data['total_sqft'].apply(convertRange)

In [134]:
data.head()

        size  total_sqft  bath   price    site_location  bhk
0      2 BHK      1056.0   2.0   39.07      Alandi Road    2
1  4 Bedroom      2600.0   5.0  120.00  Ambegaon Budruk    4
2      3 BHK      1440.0   2.0   62.00       Anandnagar    3
3      3 BHK      1521.0   3.0   95.00            Aundh    3
4      2 BHK      1200.0   2.0   51.00       Aundh Road    2

In [135]:
data['total_sqft'].unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [136]:
type(data['total_sqft'])

pandas.core.series.Series

In [137]:
data['price_per_sqft'] = data['price'] * 100000 / data['total_sqft']

In [138]:
data['price_per_sqft']

0         3699.810606
1         4615.384615
2         4305.555556
3         6245.890861
4         4250.000000
             ...
13315     6689.834926
13316    11111.111111
13317     5258.545136
13318    10407.336319
13319     3090.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [139]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [140]:
data['site_location'].value_counts()

Hadapsar               140
Alandi Road            139
Kondhwa Khurd          139
Mahatma Gandhi Road    139
Lulla Nagar            139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: site_location, Length: 97, dtype: int64

In [141]:
data['site_location'].unique()

array(['Alandi Road', 'Ambegaon Budruk', 'Anandnagar', 'Aundh',
       'Aundh Road', 'Balaji Nagar', 'Baner', 'Baner road',
       'Bhandarkar Road', 'Bhavani Peth', 'Bibvewadi', 'Bopodi',
       'Budhwar Peth', 'Bund Garden Road', 'Camp', 'Chandan Nagar',
       'Dapodi', 'Deccan Gymkhana', 'Dehu Road', 'Dhankawadi',
       'Dhayari Phata', 'Dhole Patil Road', 'Erandwane', 'Fatima Nagar',
       'Fergusson College Road', 'Ganesh Peth', 'Ganeshkhind',
       'Ghorpade Peth', 'other', 'Gokhale Nagar', 'Gultekdi',
       'Guruwar peth', 'Hadapsar', 'Hadapsar Industrial Estate',
       'Hingne Khurd', 'Jangali Maharaj Road', 'Kalyani Nagar',
       'Karve Nagar', 'Karve Road', 'Kasba Peth', 'Katraj', 'Khadaki',
       'Khadki', 'Kharadi', 'Kondhwa', 'Kondhwa Budruk', 'Kondhwa Khurd',
       'Koregaon Park', 'Kothrud', 'Law College Road', 'Laxmi Road',
       'Lulla Nagar', 'Mahatma Gandhi Road', 'Mangalwar peth',
       'Manik Bagh', 'Market yard', 'Model colony', 'Mukund Nagar',
       'Mundhawa', 'Nagar Road', 'Nana Peth', 'Narayan Peth',
       'Narayangaon', 'Navi Peth', 'Padmavati', 'Parvati Darshan',
       'Pashan', 'Paud Road', 'Pirangut', 'Prabhat Road',
       'Pune Railway Station', 'Rasta Peth', 'Raviwar Peth',
       'Sadashiv Peth', 'Sahakar Nagar', 'Salunke Vihar', 'Sasson Road',
       'Satara Road', 'Senapati Bapat Road', 'Shaniwar Peth',
       'Shivaji Nagar', 'Shukrawar Peth', 'Sinhagad Road', 'Somwar Peth',
       'Swargate', 'Tilak Road', 'Uruli Devachi', 'Vadgaon Budruk',
       'Wadgaon Sheri', 'Viman Nagar', 'Vishrant Wadi', 'Wagholi',
       'Wakadewadi', 'Wanowrie', 'Warje', 'Yerawada', 'Ghorpadi'],
      dtype=object)

In [142]:
data['site_location']

0                 Alandi Road
1             Ambegaon Budruk
2                  Anandnagar
3                       Aundh
4                  Aundh Road
                 ...
13315                  Pashan
13316               Paud Road
13317                Pirangut
13318            Prabhat Road
13319    Pune Railway Station
Name: site_location, Length: 13320, dtype: object

In [143]:
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [144]:
(data['total_sqft']/data['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [145]:
data = data[(data['total_sqft']/data['bhk']>=300)]
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838     6303.979357
std     1261.271296      1.077938    152.077329      0.976678     4162.237981
min      300.000000      1.000000      8.440000      1.000000      267.829813
25%     1116.000000      2.000000     49.000000      2.000000     4210.526316
50%     1300.000000      2.000000     70.000000      3.000000     5294.117647
75%     1700.000000      3.000000    115.000000      3.000000     6916.666667
max    52272.000000     16.000000   3600.000000     16.000000   176470.588235

In [146]:
data.shape

(12530, 7)

In [147]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

In [148]:
def remove_outliers_sqft(df):
    df_output = pd.DataFrame()
    for key, subdf in df.groupby('site_location'):
        m = np.mean(subdf.price_per_sqft)
        st = np.std(subdf.price_per_sqft)
        gen_df = subdf[(subdf.price_per_sqft > (m-st)) & (subdf.price_per_sqft <= (m+st))]
        df_output = pd.concat([df_output,gen_df],ignore_index=True)
    return df_output
data = remove_outliers_sqft(data)
data.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10946.000000  10946.000000  10946.000000  10946.000000    10946.000000
mean    1491.685042      2.456879     83.924079      2.565777     5381.333751
std      854.299518      0.961960     66.182679      0.895302     1606.407485
min      300.000000      1.000000     10.000000      1.000000     1379.310345
25%     1105.000000      2.000000     48.000000      2.000000     4186.046512
50%     1278.000000      2.000000     65.000000      2.000000     5107.943007
75%     1629.750000      3.000000     95.960000      3.000000     6333.333333
max    30400.000000     16.000000   2100.000000     16.000000    17548.524329

In [149]:
import numpy as np

def bhk_outlier_remover(df):
    exclude_indices = np.array([])
    for location, location_df in df.groupby('site_location'):
        bhk_stats = {}
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df['price_per_sqft']),  # Calculate the mean of 'price_per_sqft'
                'std': np.std(bhk_df['price_per_sqft']),    # Calculate the standard deviation of 'price_per_sqft'
                'count': bhk_df.shape[0]
            }
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count'] > 5:
                # Compare 'price_per_sqft' with the mean from the bhk_stats dictionary
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df['price_per_sqft'] < stats['mean']].index.values)
    return df.drop(exclude_indices, axis=0)

In [150]:
data = bhk_outlier_remover(data)

In [151]:
data.shape

(7467, 7)

In [152]:
data

            size  total_sqft  bath   price site_location  bhk  price_per_sqft
0          2 BHK      1056.0   2.0   39.07   Alandi Road    2     3699.810606
1      4 Bedroom      2894.0   4.0  245.00   Alandi Road    4     8465.791292
2          2 BHK      1084.0   2.0   50.00   Alandi Road    2     4612.546125
3          2 BHK      1230.0   2.0   80.00   Alandi Road    2     6504.065041
4          3 BHK      1750.0   3.0  130.00   Alandi Road    3     7428.571429
...          ...         ...   ...     ...           ...  ...             ...
10934      4 BHK      3122.0   6.0  250.00      Yerawada    4     8007.687380
10937  6 Bedroom      3500.0   6.0  115.00      Yerawada    6     3285.714286
10940  5 Bedroom      3210.0   2.0  353.00      Yerawada    5    10996.884735
10941      2 BHK      1050.0   2.0   54.00      Yerawada    2     5142.857143
10945      2 BHK      1132.0   2.0   70.00      Yerawada    2     6183.745583

[7467 rows x 7 columns]

In [153]:
data.drop(columns=['size','price_per_sqft'],inplace=True)

In [154]:
data.head()

   total_sqft  bath   price site_location  bhk
0      1056.0   2.0   39.07   Alandi Road    2
1      2894.0   4.0  245.00   Alandi Road    4
2      1084.0   2.0   50.00   Alandi Road    2
3      1230.0   2.0   80.00   Alandi Road    2
4      1750.0   3.0  130.00   Alandi Road    3

In [155]:
data.to_csv('CleanedData.csv')

In [156]:
x = data.drop(columns=['price'])
y = data['price']

In [163]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.compose import make_column_transformer
from sklearn.metrics import r2_score

In [158]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [159]:
print(x_train.shape)
print(x_test.shape)

(5973, 4)
(1494, 4)

Linear Regression

In [164]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['site_location']), remainder='passthrough')

In [165]:
scaler = StandardScaler()

In [168]:
from sklearn.preprocessing import StandardScaler
lr = LinearRegression()

In [169]:
pipe = make_pipeline(column_trans, scaler, lr)

In [170]:
pipe.fit(x_train,y_train)

C:\Users\prask\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [171]:
y_pred_lr = pipe.predict(x_test)
r2_score(y_test, y_pred_lr)

0.8875836480827306

Applying Lasso

In [172]:
lasso = Lasso()

In [173]:
pipe = make_pipeline(column_trans, scaler, lasso)

In [174]:
pipe.fit(x_train, y_train)

C:\Users\prask\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['site_location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [175]:
y_pred_lasso = pipe.predict(x_test)
r2_score(y_test, y_pred_lasso)

0.8853927414654412

Applying Ridge

In [176]:
ridge = Ridge()
pipe = make_pipeline(column_trans, scaler, ridge)
pipe.fit(x_train, y_train)
y_pred_ridge = pipe.predict(x_test)
r2_score(y_test, y_pred_ridge)

C:\Users\prask\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

0.8874246853936835

In [ ]:
import pickle
pickle.dump(pipe, open('RidgeModel.pkl','wb'))